---
---

@import "monokai";

/// Variable definitions

$navbar-height: 50px;
$navbar-breakpoint: 1100px; // Width at which the navbar collapses
$navbar-gradient-height: 40px;

$logo-padding-top:        10px;
$logo-padding-bottom:     10px;
$logo-padding-left:       20px;
$logo-padding-right:       0px;

$nav-link-padding-top:     7px;
$nav-link-padding-bottom: 14px;
$nav-link-padding-left:   10px;
$nav-link-padding-right:  10px;
$nav-logo-padding-top:     5px;
$nav-logo-padding-bottom:  5px;

$breadcrumbs-height:      30px;

$footer-separator-height: 62px;

$navbar-bg-color: #000;
$navbar-text-color: #fff;
$sky-color: #9dc9ef;
$clouds-color: #fff;
$content-overlay-color: #fff6;
$max-width: 45em;

$table-border: 1px solid #888;

/// Reset layout

// TODO: add this, and set all margins manually
* {
	padding: 0;
	margin: 0;
}

/// General styling

html {
	// Reduce contrast
	color: #000;
	box-sizing: content-box;
}

body {
	// Improve readability
	font-size: 20px;
	line-height: 1.4;
	text-align: justify;
	font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	hyphens: auto;

	margin: 0;
	width: 100%;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.6em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.3em;
	margin: 1em 0;
}

h4 {
	font-size: 1.1em;
	margin: 1em 0;
}

p {
	margin: 1em 0;
}

code, pre {
	font-size: 90%;
}

pre {
	// Avoid horizontal page scrolling on mobile
	overflow: auto;
}

a, a:visited {
	color: #06b;
	text-decoration: none;
}

a:active {
	color: #f00;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

hr {
	margin: .5em 0;
}

table {
	// BUG: I can't get tables to scroll when overflowing horizontally. D'oh!
	border-collapse: collapse;

	tr:nth-child(2n) {
		background-color: #ffffff10;
	}
	tr:nth-child(2n+1) {
		background-color: #00000010;
	}

	td, th {
		padding: .25em .5em;
	}

	> tbody th {
		border-left: $table-border;
		border-right: $table-border;
	}
	tr > :first-child {
		border-left: none;
	}
	tr > :last-child {
		border-right: none;
	}
	> thead > tr {
		border-bottom: $table-border;
	}
}

/// Layout

body {
	height: 100vh;
	overflow: hidden;
}

#navbar {
	width: 100%;

	font-size: 24px;
	margin: 0;
	padding: 0 0 $navbar-gradient-height 0;
	height: $navbar-height;

	background: linear-gradient(to top, $sky-color, #2d68cc $navbar-gradient-height * 3 / 8, #0000 $navbar-gradient-height), repeat-x url("/assets/stars.png"), #000;
	a {
		color: $navbar-text-color;
	}
}

#logo {
	margin: 0;
	display: block;
	padding: $logo-padding-top $logo-padding-right $logo-padding-bottom $logo-padding-left;
	height: $navbar-height - ($logo-padding-top + $logo-padding-bottom);
	float: left;

	font-weight: bold;
	text-decoration: none;
}

// Always hide the checkbox
#navbar-toggle-control {
	display: none;
}
#navbar-toggle {
	display: none;
	@media (max-width: $navbar-breakpoint) {
		display: block;
	}
	padding: $nav-logo-padding-top $nav-link-padding-right $nav-logo-padding-bottom $nav-link-padding-left;
	height: $navbar-height - ($nav-logo-padding-top + $nav-logo-padding-bottom);
	float: right;

	cursor: pointer;
	> {
		:first-child {
			display: block;
		}
		:last-child {
			display: none;
		}
	}
	:checked ~ & > {
		:first-child {
			display: none;
		}
		:last-child {
			display: block;
		}
	}
}

#navbar-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	@media (max-width: $navbar-breakpoint) {
		flex-flow: row wrap;
		display: none;
		:checked ~ & {
			display: flex;
		}
		position: fixed;
		top: $navbar-height;
		left: 10px;
		right: 10px;
		border-radius: 0 0 10px 10px;
		background: repeat url("/assets/stars.png");
	}
	z-index: 1;

	> a {
		padding-left: $nav-link-padding-left;
		padding-right: $nav-link-padding-right;
		height: $navbar-height;
		> img {
			padding-top: $nav-logo-padding-top;
			padding-bottom: $nav-logo-padding-bottom;
			height: $navbar-height - ($nav-logo-padding-top + $nav-logo-padding-bottom);
		}
		&.text {
			display: inline-block;
			padding-top: $nav-link-padding-top;
			padding-bottom: $nav-link-padding-bottom;
			height: $navbar-height - ($nav-link-padding-top + $nav-link-padding-bottom);
		}
	}
}

// So that anchors are scrolled to, but not behind the navbar
#main-scroller {
	position: relative;
	z-index: 0;
	overflow: hidden auto;
	height: calc(100% - #{$navbar-height + $navbar-gradient-height});
	background-color: #fff;
}

#top {
	background-color: $sky-color;
	padding-bottom: 10px;
}

#breadcrumbs {
	height: $breadcrumbs-height;
	padding: 10px 0 10px .5em;
	background: no-repeat right / auto #{10px + $breadcrumbs-height + 10px} url("/assets/plane.svg"), repeat-x center right / auto #{5px + $breadcrumbs-height + 5px} url("/assets/trail.png");

	> ol {
		padding: 0;
		box-sizing: border-box;
		max-width: $max-width;
		background-color: transparent;
		box-shadow: none;

		> li {
			display: inline;
			&:not(:first-child)::before {
				content: ">";
			}
		}
	}
}

.centered {
	margin: 0 auto;

	max-width: $max-width;
	* {
		max-width: 100%;
	}
	// Prevent text from bumping sides on smaller windows
	padding: 20px 20px 10px 10px;

	& > :first-child {
		margin-top: 0;
	}

	background-color: $content-overlay-color;
	box-shadow: 0 3px 3px 3px $content-overlay-color;
	#breadcrumbs + & {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&:last-child {
		border-radius: 0 0 5px 5px;
		padding-bottom: 0;
	}

	// Avoid figure contents being larger than the text container
	figure {
		max-width: 100%;
		margin: 2em 1em;

		> * {
			max-width: 100%;
		}
	}
}

#footer-separator {
	background-color: $sky-color;
	
	> div {
		height: $footer-separator-height;
		background: url("/assets/clouds.png");
	}
}

footer {
	text-align: center;

	> p {
		margin-top: 0;
		background-color: #fff;
	}
}

/// Floating arrows at the bottom

#back-up {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 10;
}

// Cover the arrow

#footer-separator > div, footer {
	position: relative;
	z-index: 20;
}

footer {
	// Ensure that the text does cover that arrow
	background-color: #fff;
	padding-bottom: 1em; // Make sure to cover the paragraph's margin
}

/// Some extra styling

.banner {
	height: 400px;
	width: 100%;

	background-attachment: scroll, fixed;
	background-size: cover;
	background-position: center, 50% 50%;
	z-index: 1;
}

blockquote {
	border-left: 5px solid #9ab;
	padding-left: 20px;
}
