// Pico, made a bit more lightweight!
@use "pico/" with (
	$theme-color: "blue",
	$modules: (
		"themes/default": true,

		"layout/document": true,
		"layout/landmarks": true,
		"layout/container": true,
		"layout/section": true,
		"layout/grid": true,
		"layout/scroller": true,

		"content/link": true,
		"content/typography": true,
		"content/embedded": true,
		"content/button": true,
		"content/table": true,
		"content/code": true,
		"content/miscs": true,

		"forms/basics": true,
		"forms/checkbox-radio-switch": false,
		"forms/input-color": false,
		"forms/input-date": false,
		"forms/input-file": false,
		"forms/input-range": false,
		"forms/input-search": false,

		"components/accordion": false,
		"components/card": true,
		"components/dropdown": false,
		"components/group": true,
		"components/loading": false,
		"components/modal": false,
		"components/nav": true,
		"components/progress": false,
		"components/tooltip": true,

		"utilities/accessibility": true,
		"utilities/reduce-motion": true,
	)
);

@use "comments";
@use "content";
@use "layout";

// An override to the highlighting...
pre {
	// Highlighted lines.
	mark {
		display: block; // Make them take the full width.
	}

	table {
		td {
			padding: 0;
			// The line number cells.
			&:nth-of-type(1) {
				text-align: center;
				user-select: none;
			}
		}
	}
}

// The section listings.
.section-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	grid-template-rows: masonry; // Expeprimental, but rad. Fallback looks good enough.
	gap: 0 2em;
	// Reduce the spacing, this is not really stand-alone.
	--pico-block-spacing-vertical: var(--pico-spacing);

	header {
		--pico-typography-spacing-vertical: 0; // Don't put additional spacing below the <h*>.
	}

	nav li {
		padding-bottom: 0; // Reduce the spacing after the tag list.
	}
}

// Stuff that doesn't make sense to print.
@media print {
	.no-print {
		display: none;
	}
}

// Avoid scrolling anchors to the very top of the page: the eye doesn't follow.
:target {
	scroll-margin-block: 5ex;
}
