// Pico, made a bit more lightweight!
@use "pico/" with (
	$theme-color: "blue",
	$modules: (
		"themes/default": true,

		"layout/document": true,
		"layout/landmarks": true,
		"layout/container": true,
		"layout/section": true,
		"layout/grid": true,
		"layout/scroller": true,

		"content/link": true,
		"content/typography": true,
		"content/embedded": true,
		"content/button": true,
		"content/table": true,
		"content/code": true,
		"content/miscs": true,

		"forms/basics": true,
		"forms/checkbox-radio-switch": false,
		"forms/input-color": false,
		"forms/input-date": false,
		"forms/input-file": false,
		"forms/input-range": false,
		"forms/input-search": false,

		"components/accordion": false,
		"components/card": true,
		"components/dropdown": false,
		"components/group": true,
		"components/loading": false,
		"components/modal": false,
		"components/nav": true,
		"components/progress": false,
		"components/tooltip": true,

		"utilities/accessibility": true,
		"utilities/reduce-motion": true,
	)
);

@use "admonitions";
@use "comments";
@use "content";
@use "layout";

// An override to the highlighting...
pre {
	// Highlighted lines.
	mark {
		display: block; // Make them take the full width.
	}

	table {
		td {
			padding: 0;
			// The line number cells.
			&:nth-of-type(1) {
				text-align: center;
				user-select: none;
			}
		}
	}
}
