{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %} Tag: {{ term.name }} {% endblock %}
{% block h1 %}
	<hgroup>
		<h1>Pages tagged "{{ term.name }}"</h1>
		<p>{{ term.page_count }} such page{{ term.page_count | pluralize }}.</p>
	</hgroup>

	<p>Go <a href="{{ get_taxonomy(kind="tags") | get(key="permalink") }}">back to the tag list</a>?</p>
{% endblock h1 %}

{% block content %}
	<div class="section-list">
	{% for page in term.pages %}
		{{ macros::page_card(page=page, unique_id=term.name ~ loop.index0, link_classes="", link_text="Keep reading...") }}
	{% endfor %}
	</div>
{% endblock %}
