---
layout: default
---

<main>
	<div class="centered">
		<h1>Welcome to ISSOtm's warehouse!</h1>

		<p>Hi! <a href="/about">I'm Eldred</a>. I love programming, exploits, old game consoles, and writing up!</p>

		<p>I spend a lot of my free time programming, so <a href="https://github.com/ISSOtm">I have written a nice amount of free software</a>. You can also peruse some of my projects <a href="#projects">below</a>.</p>

		<p>I've been tinkering with the old Game Boy for about 7 years now, so I have become a fairly active member of <a href="https://gbdev.io">GBDev</a>. Which, speaking of, I am also making <a href="/gb-asm-tutorial">a tutorial for programming your own Game Boy games</a> (with <a href="https://github.com/ISSOtm/gb-asm-tutorial/contributors">some help</a>) that is getting some praise as of late.</p>
	</div>

	<div class="banner" style="background-image: radial-gradient(#0000, #000c), url('/assets/banners/aevilia.jpg');"></div>

	<div class="centered">
		<p style="margin-bottom: .25em; line-height: 1;"><small>This ad is for a site that <em>I</em> think you may enjoy, not some algorithm. No strings attached, I'm not even paid! <a href="https://mstdn.social/@ifixcoinops/109639352494996644">Here is some context.</a></small></p>

		<svg viewBox="0 0 468 60" style="display: block; max-width: 468px; margin: 0 auto;">
			<a href="https://www.improbableisland.com">
				<style>text { text-anchor: middle; font-size: 20px; dominant-baseline: middle; }</style>
				<text x="234" y="10">This'd be a non-animated 468x60 banner that</text>
				<text x="234" y="30">doesn't track you. I know I use one myself, but</text>
				<text x="234" y="50">please consider disabling your ad blocker! ^^'</text>
				<image x="0" y="0" width="468" height="60" href="https://www.improbableisland.com/images/adverts/2022/468x60.jpg"/>
			</a>
		</svg>
	</div>

	<div class="centered">
		{{ content }}
	</div>
</main>
