---
layout: default
---

<main>
	<div class="centered">
		<h1>Welcome to ISSOtm's warehouse!</h1>

		<p>Hi! <a href="/about">I'm Eldred</a>. I love programming, exploits, old game consoles, and writing up!</p>

		<p>I spend a lot of my free time programming, so <a href="https://github.com/ISSOtm">we're storing a lot of code around these parts</a>. You can also peruse some of my projects <a href="#projects">below</a>.</p>

		<p>I've been tinkering with the old Game Boy for about 5 years now, so I became a fairly active member of <a href="https://gbdev.io">GB dev</a>. I also made <a href="/gb-asm-tutorial">an incomplete but still good Game Boy programming tutorial</a>.</p>
	</div>

	<div class="banner" style="background-image: radial-gradient(#0000, #000c), url('/assets/banners/aevilia.jpg');"></div>

	<div class="centered">
		{{ content }}
	</div>
</main>
